<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Company Transaction Form</h1>
    <form action="/add" method="POST">
        <label for="company_name">Company Name:</label><br>
        <input type="text" id="company_name" name="company_name" required><br><br>

        <label for="transaction_type">Transaction Name:</label><br>
        <input type="text" id="transaction_type" name="transaction_type" required><br><br>

        <label for="start_date">Start Date:</label><br>
        <input type="date" id="start_date" name="start_date" required><br><br>

        <label for="comments">Comments:</label><br>
        <textarea id="comments" name="comments" rows="4" cols="50"></textarea><br><br>

        <input type="submit" value="Submit">
    </form>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="#">Restricted List</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view">View</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>Company Transaction Form</h1>
        <br>
        <form action="/add" method="POST">
            <div class="row">
                <div class="col-4">
                    <label for="company_name">Company Name:</label><br>
                    <input type="text" id="company_name" name="company_name" required><br><br>
                </div>
                <div class="col-4">
                    <label for="ISIN_number">ISIN Number:</label><br>
                    <input type="text" id="ISIN_number" name="ISIN_number" required><br><br>
                </div>
                <div class="col-4">
                    <label for="transaction_type">Transaction Type:</label><br>
                    <input type="text" id="transaction_type" name="transaction_type" required><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="start_date">Start Date:</label><br>
                    <input type="date" id="start_date" name="start_date" required><br><br>
                </div>
                <div class="col-4">
                    <label for="person_of_contact">Name of Person Informing:</label><br>
                    <input type="text" id="person_of_contact" name="person_of_contact" required><br><br>
                </div>
                <div class="col-4">
                    <label for="person_email">Contact Details:</label><br>
                    <input type="email" id="person_email" name="person_email" required><br><br>
                </div>
            </div>
            <label for="comments">Comments:</label><br>
            <textarea id="comments" name="comments" rows="4" cols="50"></textarea><br><br>

            <input class="btn btn-success" type="submit" value="Submit">
        </form>
    </div>



    <!-- Bootstrap JS, Popper.js, and jQuery (optional but required for some Bootstrap components) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>